.header{
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #598bbb;
}

.title{
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

.right-side-links a{
  color: white;
  text-transform: uppercase;
  font-family: 'Alata', sans-serif;
}

.right-side-links a:hover{
  color: #2b363d;
}

.user-menu{
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.user-menu:hover{
  cursor: pointer;
}
