<h1 mat-dialog-title>Nowy producent</h1>

<div matDialogContent>

  <form fxLayout="column" [formGroup]="newManufacturerForm" (ngSubmit)="addNewManufacturer()">

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Nazwa</mat-label>
      <input matInput placeholder="Volkswagen" required formControlName="name">
      <mat-error *ngIf="newManufacturerForm.controls['name'].errors?.['required']">{{getRequiredErrorMessage()}}</mat-error>
      <mat-error
        *ngIf="newManufacturerForm.controls['name'].errors?.['taken']">{{getTakenNameError()}}</mat-error>
    </mat-form-field>


    <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10" fxLayoutAlign="end center" fxLayoutAlign.sm="start" fxLayoutAlign.xs="start">

      <button type="submit" mat-button mat-raised-button color="primary">Dodaj</button>
      <button type="button" mat-button mat-stroked-button color="warn" [mat-dialog-close]="false">Anuluj</button>

    </div>

  </form>

</div>
