<div class="container" fxFlex="100" fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10">

  <div  fxLayout="column" fxLayoutGap="10">

    <div class="nav-link">
      <a>Uytkownicy</a>
    </div>

    <div class="nav-link">
      <a>Wnioski</a>
    </div>

    <div class="nav-link">
      <a>Producenci</a>
    </div>

    <div class="nav-link">
      <a>Rodzaje paliw</a>
    </div>

  </div>

  <div >
    <div class="content">
      Content
    </div>
  </div>

</div>
