.links-container{

}

.content{

}

@media only screen and (max-width: 599px){
  .nav-link a{
    text-align: center;
  }
}

.link{
  text-transform: uppercase;
  font-family: 'Alatsi', sans-serif;
  width: 100%;
  padding: .4rem;
  border-radius: 2px;
}

.link a{
  text-decoration: none;

}

.menu-link a{
  color: #2b363d;
}

.link:hover{
  cursor: pointer;
}

.menu-link:hover a{
  color: #0a9393;
}

.selected-link{
  color: #0a9393;
  background-color: rgba(206, 213, 218, 0.3);
  width: 100%;
}
